vim/.netrwhist
vim/bundle/**
vim/plugged/**
.smex-items
*~$
places
.recentf
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
elpa
credentials.clj.gpg
repl-history
